body {
    background: cyan;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: firebrick;
}

div.content {
    text-align: left;
    font-family: monospace;
    font-size: 20px;
    margin-left: 10%;
}

div.contact {
    text-align: left;
    margin-left: 10%;
}

img {
    width: 70%;
}

p.price {
    float: left;
    background: midnightblue;
    color: white;
    font-size: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    text-align: center;
}