body {
    background: linear-gradient(cyan, lavenderblush, cyan);
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: Indigo;
    font-weight: 600;
    text-transform: capitalize;
}

div.content {
    text-align: left;
    font-family: monospace;
    font-size: 20px;
    margin-left: 10%;
}

div.contact {
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    margin-left: 10%;
}

img {
    width: 50%;
    margin-left: 75px;
}

p.price {
    float: left;
    margin-right: 2%;
    background: midnightblue;
    color: white;
    font-size: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    text-align: center;
}

.bar {
    cursor: pointer;
    stroke-width: 3px;
}

.tabs {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.buttons{
    margin: 10px 20% 0 41%;
    position: -webkit-sticky;
    position: sticky;
    top: 34px;
}
